<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <a href=""></a>
    <h1>Noa's online shop </h1>
     <img src="static/welcome2.jpg" wight=150 height=150>
    <p>in the shop you will be able to find everithing you will ever need! </p>
    <h2>so... a litle bit about us:)</h2>
    <img src="static/aboutus.png" wight=150 height=150>
    <p>we are an online book shop!</p>
     <a href="product">click for our product</a>
     <br>
     <a href="/cart">cart</a>
</body>

</html>