<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product page!</title>
    <h1>hey there! and welcome to our product page</h1>
    <img src="static/product.png"wight=200 height=200>
    <p> hope you'll find what you'r looking for!</p>
    <h2>here are our products:</h2>
    <img src="static/book1.jpg"wight=200 height=280>
    <p>One of Us is Lying follows the gripping story of Bronwyn, Addy, Nate, and Cooper as suspects in the murder of Simon Kelleher. Each of the high school students have secrets that they would do anything to protect, so how far would they go to make sure they're kept out of the spotlight?</p>
    <br>

    <img src="static/book2.jpg"wight=200 height=280>
    <p>"The Fault in Our Stars" is a 2012 novel by the American author John Green. The novel was critically acclaimed and launched the career of its author. It was adapted into a successful movie in 2014 that grossed over 300 million worldwide</p>

    <br>
    <a href="/">home page</a>
    <br>
    <a href="/cart">cart</a>


</head>
<body>

</body>
</html>